<!--
<footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <p>
          Incom Employee Training Tracker | <%= Time.now.year %>
        </p>
      </div>
</footer>
-->